<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<!-- Bootstrap CSS -->
 		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<title>spring-il-mio-fotoalbum</title>
	</head>
	<body>
		<main>
			<div class="container border rounded-5 shadow my-5">
				<div class="row justify-content-center p-4">
					<div class="col-12 text-center py-5">
						<a href="/" class="btn btn-primary">Foto</a>
					</div>
					<div class="col-12 py-3">
						<table class="table table-hover text-center">
						  	<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Email</th>
									<th scope="col">Nome</th>
									<th scope="col">Strumenti</th>
								</tr>
						  	</thead>
						  	<tbody>
								<tr th:each="contatto : ${contatti}">
									<th scope="row" th:text="${contatto.id}"></th>
									<td th:text="${contatto.email}"></td>
									<td th:text="${contatto.nome}"></td>
									<td>
										<a th:href="@{/contatto/{id} ((id=*{id})}" class="btn btn-info">
											Modifica
										</a>
										<form style="display:inline-block" th:action="@{/contatti/delete/{id} ((id=*{id})}" method="POST">
											<button type="submit" class="btn btn-danger">
												Elimina
											</button>
										</form>
									</td>
								</tr>
						  	</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>