<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Best Fotos</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-secondary-subtle">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<h1 class="text-center mt-2 mb-5 text-white">Fotos:</h1>
			</div>
		</div>
		
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-12 col-md-6">
				<div class="bg-primary p-5 rounded-3">
					<form class="d-flex">
					  <div class="mb-3 me-3">
					    <input type="text" class="form-control" id="search" name="f" th:value="${f}">
					  </div>
					  <div>
					  	<button type="submit" class="btn btn-warning text-white" value="SEARCH">Cerca foto</button>
					  </div>
					</form>											
					<div>
						<a href="/fotos/categorie">
							<button class="btn btn-success mb-3 me-2">
								Lista Categorie
							</button>									
						</a>	
						<a href="/fotos/create">
							<button class="btn btn-success mb-3 me-2">
								Crea Nuova Foto
							</button>									
						</a>																					
					</div>
				</div>
			</div>
			<div class="row g-0">
				<div 	
					th:each="foto : ${fotos}"
					th:object="${foto}"
					class="card m-3 col-12 col-md-4 col-lg-3" style="width: 18rem;">
					<img th:src="*{url}" class="card-img-top" alt="..." style="height: 14rem; max-width: 18rem;">
					<div class="card-body text-center">
					  	<a
							th:href="@{/fotos/{id}(id=*{id})}"
						>
					    	<h5 class="card-title badge text-bg-primary">[[*{titolo}]]</h5>								
						</a>
						<div class="d-flex justify-content-center mb-3">				
							<a th:href="@{/fotos/edit/{id} (id=*{id})}">
								<button class="btn btn-primary">
									Modifica la foto
								</button>									
							</a>								
						</div>
						<form 
							style="display:inline-block"
							th:action="@{/fotos/delete/{id} (id=*{id})}"
							method="POST">
							<div class="d-flex justify-content-center mb-3">
								<button type="submit" class="btn btn-danger" value="DELETE">
									Elimina la Foto
								</button>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>